.main-container {
    background-color: #ffffff;
    min-height: calc(100vh - 56px);
    padding: 0;
    color: #2c3e50;
}

.content-wrapper {
    background-color: #ffffff;
    color: #2c3e50;
    min-height: calc(100vh - 56px);
}
